:root {
    --primary-color:#136F63;
    --secondary-color: #000F08;
    --accent1-color: #F7F7FF;
    --accent2-color: #BF211E;
}

h1, h2 {
    font-family: "Poppins", system-ui;
    font-weight: 700;
}

p, a {
    font-family: "Roboto", system-ui;
    font-weight: 400;
}

h1 {
    color: var(--accent1-color);
}
h2 {
    color: var(--primary-color);
}

.social-link a {
    text-decoration: none;
    display: block;
    padding: 0 1rem;
}

.hero {
    position: relative;
}
.hero h1 {
    position: absolute;
    top: 0;
    left: 250px;
    font-size: 70px;
    font-weight: 800;
    text-align: center;
}

.hero article {
    position: absolute;
    max-width: 60%;
    top: 200px;
    left: 250px;
    background-color: rgba(4, 55, 74, 0.5);
    padding: 16px;
    color: var(--accent1-color);
  }

.hero article img {
    width: 150px;
    height: auto;
    float: right;
    margin-top: 20px;
    margin-left: 8px;
  }

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

section img {
    display: block;
}
.social-link img{
    width: 40px;
    height: auto;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 1rem auto;
    align-items: center;
    max-width: 1000px;
}

header img {
    width: 64px;
    height: auto;
    margin: 0 0.25rem 0 1rem;
}

header nav {
    display: flex;
}

header nav a {
    display: block;
	color: var(--secondary-color);
	padding: 20px;
	text-decoration: none;
    flex: 1 1 100%;
}

header nav a:hover {
    color: var(--primary-color);
    text-decoration: underline;
    font-weight: 700;
}

section .gallery {
    display: flex;
    text-align: center;
}

section .gallery img {
    width: 100%;
    height: auto;
}

section h2 {
    text-align: center;
}

figcaption {
    font-family: "Roboto", system-ui;
    font-weight: 400;;
}

footer {
    display: grid;
    grid-template-columns: 3fr 1fr;
    text-align: center;
    align-items: center;
    margin-top: 2rem;
}

.social-link {
    display: flex;

}