:root {
    --primary-color: steelblue;
    --secondary-color: black;
    --padding-margin: 1rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--primary-color);
}
main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--primary-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 20px 30px;
}
p {
    padding: 10px;
}
main {
    max-width: 840px;
}
aside {
    width: 20rem;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}
p {
    padding: 0;
}
footer {
    margin-top: 15px;
    border-top: 1px solid var(--secondary-color);
    text-align: center;
}

/* Class Selectors */
.box {
    margin: var(--padding-margin);
    border: 1px solid var(--secondary-color);
    padding: var(--padding-margin);
    background-color: rgb(221, 221, 221);
    color: var(--secondary-color);
}

aside h2 {
    position: absolute;
    top: 15px;
    left: 100px;
}
ul.box {
    clear: both;
}